html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url(images/rock-paper-scissors.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.212);
    /* background-image: url(images/icons/rock.svg), url(images/icons/paper.svg);
    background-position: right center, left center;
    background-repeat: no-repeat no-repeat;
    background-size: 500px 300px; */
}

#content-area{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
}

#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 50%;
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 125px;
    padding: 15px;
}

.btn-icon{
    height: 50px;
    width: 50px;
}

#rock-icon{
    height: 40px;
    margin-top: 7px;
    margin-bottom: 3px;
}

#result-area{
    border: solid black;
    flex: 1 1 50%;
}