html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    display: flex;
    flex-direction: column;
}

.btn-icon{
    height: 50px;
    width: 50px;
}